   <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <form class="investments">
                            Type:
                            <br>
                            <input type="radio" name="type" value="Crypto Currency" checked> Crypto Currency
                            <br>
                            <input type="radio" name="type" value="Stock"> Stock
                            <br> Investment Name:
                            <br>
                            <input type="text" name="investment-name" id="investment-name" placeholder="Facebook">
                            <br> Amount:
                            <br>
                            <input type="text" name="amount" id="amount" placeholder="10">
                            <br> Cost-Basis (optional):
                            <br>
                            <input type="text" name="cost-basis" id="cost-basis" value="0" placeholder="0">
                            <br> Date Purchased:
                            <br>
                            <input type="date" name="date" id="date"  >
                            <br>
                            <input type="submit" value="Submit">
                    </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                 <div id="container" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>
    <!-- Data from www.netmarketshare.com. Select Browsers => Desktop share by version. Download as tsv. -->
                <pre id="tsv" style="display:none">
                </pre>
            </div>
        </div>
    </div>

   <script src="js/investments.js"></script>