<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>




    <style>
        .container {
            background: rgb(219, 241, 247);
        }

        h1 {
            text-align: center;
            color: rgb(5, 170, 235);
            background-color: rgb(219, 241, 247);

        }

        * {
            position: relative;
            box-sizing: border-box;
        }

        * {
            font-family: 'Roboto', sans-serif !important;
        }

        input:hover {
            background: rgb(177, 221, 233);
        }
    </style>
</head>

<body>
    <header class="masthead clear">
        <div class="centered">

            <div class="site-branding">
                <h1 class="site-title">Finacial expenses</h1>

            </div>
            <!-- .site-title -->
        </div>
        <!-- .centered -->
    </header>
    <!-- .masthead -->


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="expenses">
                    Item:
                    <br>
                    <input id="item" name="item" placeholder="ham" type="text">
                    <br> Amount:
                    <br>
                    <input name="amount" id="amount" placeholder="10" type="text">
                    <br> Category:
                    <br>
                    <input name="category" id="category" placeholder="Food" type="text">
                    <br> Date Purchased (optional):
                    <br>
                    <input name="date" id="date" placeholder="Today" type="text">
                    <br>
                    <input value="Submit" type="submit">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="container" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto" data-highcharts-chart="0">
                    <div id="highcharts-o4ot3tw-0" style="position: relative; overflow: hidden; width: 510px; height: 400px; text-align: left; line-height: normal; z-index: 0; left: 0.600006px; top: 0px;"
                        dir="ltr" class="highcharts-container ">
                        <svg version="1.1" class="highcharts-root" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Arial, Helvetica, sans-serif;font-size:12px;"
                            xmlns="http://www.w3.org/2000/svg" width="510" height="400" viewBox="0 0 510 400">
                            <desc>Created with Highcharts 6.1.0</desc>
                            <defs>
                                <clipPath id="highcharts-o4ot3tw-1">
                                    <rect x="0" y="0" width="490" height="313" fill="none"></rect>
                                </clipPath>
                            </defs>
                            <rect fill="#ffffff" class="highcharts-background" x="0" y="0" width="510" height="400" rx="0"
                                ry="0"></rect>
                            <rect fill="none" class="highcharts-plot-background" x="10" y="72" width="490" height="313"></rect>
                            <rect fill="none" class="highcharts-plot-border" x="10" y="72" width="490" height="313"></rect>
                            <g class="highcharts-series-group">
                                <g class="highcharts-series highcharts-series-0 highcharts-pie-series highcharts-tracker " transform="translate(10,72) scale(1 1)">
                                    <path fill="#7cb5ec" visibility="hidden" d="M 264.97423533973256 22.500002623785477 A 126.5 126.5 0 0 1 385.3538848961889 187.95115390325304 L 384.40247078633763 187.64323964314826 A 125.5 125.5 0 0 0 264.9744390129363 23.500002603044095 Z"
                                        class="highcharts-halo highcharts-color-0 " fill-opacity="0.25" style="cursor:auto;"></path>
                                    <path fill="rgb(124,181,236)" d="M 264.97423533973256 22.500002623785477 A 126.5 126.5 0 0 1 385.3538848961889 187.95115390325304 L 265 149 A 0 0 0 0 0 265 149 Z"
                                        transform="translate(0,0)" stroke="#ffffff" stroke-width="1" stroke-linejoin="round"
                                        class="highcharts-point highcharts-color-0 highcharts-drilldown-point " style="cursor:pointer;"></path>
                                    <path fill="rgb(67,67,72)" d="M 385.3148735718401 188.0714882925149 A 126.5 126.5 0 0 1 339.5059917796692 251.2306567959331 L 265 149 A 0 0 0 0 0 265 149 Z"
                                        transform="translate(0,0)" stroke="#ffffff" stroke-width="1" stroke-linejoin="round"
                                        class="highcharts-point highcharts-color-1 highcharts-drilldown-point " style="cursor:pointer;"></path>
                                    <path fill="rgb(144,237,125)" d="M 339.40372388691895 251.30511165997098 A 126.5 126.5 0 0 1 144.7475063399812 188.26305857351326 L 265 149 A 0 0 0 0 0 265 149 Z"
                                        transform="translate(0,0)" stroke="#ffffff" stroke-width="1" stroke-linejoin="round"
                                        class="highcharts-point highcharts-color-2 highcharts-drilldown-point " style="cursor:pointer;"></path>
                                    <path fill="#f7a35c" d="M 144.70830341419332 188.1427864683677 A 126.5 126.5 0 0 1 264.82429403783397 22.50012202608707 L 265 149 A 0 0 0 0 0 265 149 Z"
                                        transform="translate(0,0)" stroke="#ffffff" stroke-width="1" stroke-linejoin="round"
                                        class="highcharts-point highcharts-color-3 highcharts-drilldown-point" style="cursor:pointer;"></path>
                                </g>
                                <g class="highcharts-markers highcharts-series-0 highcharts-pie-series " transform="translate(10,72) scale(1 1)"></g>
                            </g>
                            <text x="255" text-anchor="middle" class="highcharts-title" style="color:#333333;font-size:18px;fill:#333333;"
                                y="24">
                                <tspan>Browser market shares. January, 2018</tspan>
                            </text>
                            <text x="255" text-anchor="middle" class="highcharts-subtitle" style="color:#666666;fill:#666666;"
                                y="52">
                                <tspan>Click the slices to view versions. Source: </tspan>
                                <tspan onclick="location.href=&quot;http://statcounter.com&quot;"
                                    class="highcharts-anchor" style="cursor: pointer;" dx="0">statcounter.com</tspan>
                            </text>
                            <g class="highcharts-data-labels highcharts-series-0 highcharts-pie-series highcharts-tracker "
                                transform="translate(10,72) scale(1 1)" opacity="1" visibility="visible">
                                <path fill="none" class="highcharts-data-label-connector highcharts-color-0" stroke="#7cb5ec"
                                    stroke-width="1" d="M 396.61115961967926 57.01160801622795 C 391.61115961967926 57.01160801622795 377.0488537209302 67.59174255749248 372.1947517546805 71.11845407124731 L 367.3406497884308 74.64516558500215"></path>
                                <path fill="none" class="highcharts-data-label-connector highcharts-color-1" stroke="#434348"
                                    stroke-width="1" d="M 396.61115961967926 240.98839198377206 C 391.61115961967926 240.98839198377206 377.0488537209302 230.40825744250753 372.1947517546805 226.8815459287527 L 367.3406497884308 223.35483441499787"></path>
                                <path fill="none" class="highcharts-data-label-connector highcharts-color-2" stroke="#90ed7d"
                                    stroke-width="1" d="M 211.63884038032072 297.84034480019153 C 216.63884038032072 297.84034480019153 222.2011462790698 280.72132750687877 224.0552482453195 275.01498840910784 L 225.90935021156918 269.3086493113369"></path>
                                <path fill="none" class="highcharts-data-label-connector highcharts-color-3" stroke="#f7a35c"
                                    stroke-width="1" d="M 133.38884038032074 57.01160801622797 C 138.38884038032074 57.01160801622797 152.95114627906977 67.5917425574925 157.80524824531946 71.11845407124733 L 162.65935021156915 74.64516558500216"></path>
                                <g class="highcharts-label highcharts-data-label highcharts-data-label-color-0 highcharts-drilldown-data-label"
                                    transform="translate(402,47)" style="cursor:pointer;">
                                    <text x="5" style="font-size:11px;font-weight:bold;color:#003399;fill:#003399;text-decoration:underline;"
                                        y="16">
                                        <tspan x="5" y="16" class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2px"
                                            stroke-linejoin="round">Food: 30.0%</tspan>
                                        <tspan x="5" y="16">Food: 30.0%</tspan>
                                    </text>
                                </g>
                                <g class="highcharts-label highcharts-data-label highcharts-data-label-color-1 highcharts-drilldown-data-label"
                                    transform="translate(402,231)" style="cursor:pointer;">
                                    <text x="5" style="font-size:11px;font-weight:bold;color:#003399;fill:#003399;text-decoration:underline;"
                                        y="16">
                                        <tspan x="5" y="16" class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2px"
                                            stroke-linejoin="round">Gas: 10.0%</tspan>
                                        <tspan x="5" y="16">Gas: 10.0%</tspan>
                                    </text>
                                </g>
                                <g class="highcharts-label highcharts-data-label highcharts-data-label-color-2 highcharts-drilldown-data-label"
                                    transform="translate(73,288)" style="cursor:pointer;">
                                    <text x="5" style="font-size:11px;font-weight:bold;color:#003399;fill:#003399;text-decoration:underline;"
                                        y="16">
                                        <tspan x="5" y="16" class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2px"
                                            stroke-linejoin="round">Rent/Mortgage: 30.0%</tspan>
                                        <tspan x="5" y="16">Rent/Mortgage: 30.0%</tspan>
                                    </text>
                                </g>
                                <g class="highcharts-label highcharts-data-label highcharts-data-label-color-3 highcharts-drilldown-data-label"
                                    transform="translate(0,47)" style="cursor:pointer;">
                                    <text x="5" style="font-size:11px;font-weight:bold;color:#003399;fill:#003399;text-decoration:underline;"
                                        y="16">
                                        <tspan x="5" y="16" class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2px"
                                            stroke-linejoin="round">Entertainment: 30.0%</tspan>
                                        <tspan x="5" y="16">Entertainment: 30.0%</tspan>
                                    </text>
                                </g>
                            </g>
                            <g class="highcharts-legend">
                                <rect fill="none" class="highcharts-legend-box" rx="0" ry="0" x="0" y="0" width="8" height="8"
                                    visibility="hidden"></rect>
                                <g>
                                    <g></g>
                                </g>
                            </g>
                            <text x="500" class="highcharts-credits" text-anchor="end" style="cursor:pointer;color:#999999;font-size:9px;fill:#999999;"
                                y="395">Highcharts.com</text>
                            <g class="highcharts-label highcharts-tooltip highcharts-color-0" style="cursor:default;pointer-events:none;white-space:nowrap;"
                                transform="translate(250,-9999)" opacity="0" visibility="visible">
                                <path fill="none" class="highcharts-label-box highcharts-tooltip-box" d="M 3.5 0.5 L 139.5 0.5 C 142.5 0.5 142.5 0.5 142.5 3.5 L 142.5 46.5 C 142.5 49.5 142.5 49.5 139.5 49.5 L 3.5 49.5 C 0.5 49.5 0.5 49.5 0.5 46.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5"
                                    isShadow="true" stroke="#000000" stroke-opacity="0.049999999999999996" stroke-width="5" transform="translate(1, 1)"></path>
                                <path fill="none" class="highcharts-label-box highcharts-tooltip-box" d="M 3.5 0.5 L 139.5 0.5 C 142.5 0.5 142.5 0.5 142.5 3.5 L 142.5 46.5 C 142.5 49.5 142.5 49.5 139.5 49.5 L 3.5 49.5 C 0.5 49.5 0.5 49.5 0.5 46.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5"
                                    isShadow="true" stroke="#000000" stroke-opacity="0.09999999999999999" stroke-width="3" transform="translate(1, 1)"></path>
                                <path fill="none" class="highcharts-label-box highcharts-tooltip-box" d="M 3.5 0.5 L 139.5 0.5 C 142.5 0.5 142.5 0.5 142.5 3.5 L 142.5 46.5 C 142.5 49.5 142.5 49.5 139.5 49.5 L 3.5 49.5 C 0.5 49.5 0.5 49.5 0.5 46.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5"
                                    isShadow="true" stroke="#000000" stroke-opacity="0.15" stroke-width="1" transform="translate(1, 1)"></path>
                                <path fill="rgba(247,247,247,0.85)" class="highcharts-label-box highcharts-tooltip-box"
                                    d="M 3.5 0.5 L 139.5 0.5 C 142.5 0.5 142.5 0.5 142.5 3.5 L 142.5 46.5 C 142.5 49.5 142.5 49.5 139.5 49.5 L 3.5 49.5 C 0.5 49.5 0.5 49.5 0.5 46.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5"
                                    stroke="#7cb5ec" stroke-width="1"></path>
                                <text x="8" style="font-size:12px;color:#333333;fill:#333333;" y="20">
                                    <tspan style="font-size:11px">Browsers</tspan>
                                    <tspan style="fill:#7cb5ec" x="8" dy="15">Food</tspan>
                                    <tspan dx="0">: </tspan>
                                    <tspan style="font-weight:bold" dx="0">30.00%</tspan>
                                    <tspan dx="0"> of total</tspan>
                                </text>
                            </g>
                        </svg>
                    </div>
                </div>
                <!-- Data from www.netmarketshare.com. Select Browsers => Desktop share by version. Download as tsv. -->
                <pre id="tsv" style="display:none">                </pre>
            </div>
        </div>
    </div>
    <script src="js/expenses.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

</body>

</html>