 <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="row">
            <div class="col-md-12">
                <h1>Sign Up</h1>
                <form class="sign-up">
                    First name:
                    <br>
                    <input type="text" id="firstName" name="firstname" placeholder="Mickey">
                    <br> Last name:
                    <br>
                    <input type="text" name="lastname" id="lastName" placeholder="Mouse">
                    <br> Email:
                    <br>
                    <input type="email" name="email" id="email" placeholder="example@gmail.com">
                    <br> Phone (optional):
                    <br>
                    <input type="tel" id="phone" name="phone" placeholder="763-595-3406">
                    <br>
                    <!--Radio buttons-->
                    <input type="radio" name="carrier" value="" checked> None
                    <br>
                    <input type="radio" name="carrier" value="AT & T"> AT&T
                    <br>
                    <input type="radio" name="carrier" value="verizon"> Verizon
                    <br>
                    <input type="radio" name="carrier" value="t-mobile"> T-Mobile
                    <br>
                    <input type="radio" name="carrier" value="sprint"> Sprint
                    <!--Radio buttons-->
                    <br> Username:
                    <br>
                    <input type="text" id="username1" name="username" placeholder="username">
                    <br> Password:
                    <br>
                    <input type="password" id="password1" name="username" placeholder="password">
                    <br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Sign In</h1>
                <form class="sign-in">
                    Username:
                    <br>
                    <input type="text" id="username2" name="username" placeholder="username">
                    <br> Password:
                    <br>
                    <input type="password" id="password2" name="username" placeholder="password">
                    <br>
                    <input type="submit">
                </form>
                <p>
                    <a href="#">Sign Up</a>
                </p>
            </div>
        </div>
    </div>
    </div>

<script src="js/main.js"></script>